<body>
    <div class="container-shadow"></div>
    <div class="container">
      <div class="wrap">
        <div class="headings">
          <h1 style="text-align: center;color: whitesmoke;">LOGIN</h1>
        </div>
        <div>
          <form class="form">
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" name="username" id="name"  [(ngModel)]="loginUserData.username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password"  [(ngModel)]="loginUserData.password" required>
            </div>
            <br><br>
            <button type="button" (click)="loginUser()" style="background-color: aliceblue;color: black;width: 100px;margin-left: 150px;font-size: 15px;">Login</button>
          </form>
          <br>
          <label  style="margin-left: 90px;">Not Yet Registered?</label>
          <a routerLink="/sign" style="margin-left: 160px;color: whitesmoke;font-size: 20px;">SIGNUP</a>
        </div>
      </div>
    </div>
  </body>