<body id="bo">
    
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 style="color: white;">INCEPTION WAVE</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Tasks</a>
                </li>
                <li>
                    <a href="#">Need Help?</a>
                </li>
            </ul>
        </nav>
        
        <div id="content">
            <div class="container-fluid">
                <nav class="navbar navbar-light bg-light navv">
                    <a class="navbar-brand" href="#">
                      <img src="../../../assets/img.jpg" width="40" height="40" class="d-inline-block align-top" style="margin-left: 10px;margin-top: -10px;">
                      <p class="navit">INCEPTION WAVE</p>
                    </a>
                    <a class="navbar-brand" routerLink="/adminprofile">
                        <img src="../../../assets/img2.png" width="40" height="40" class="d-inline-block align-top" style="margin-left: 0px;margin-top: -10px;">
                        <p class="navit">PROFILE</p>
                      </a>
                  </nav>
                  <hr style="border: 1px black solid;margin-left: 35px;width: 1420px;">
                <button type="button" id="sidebarCollapse" class="btn btn-info" style="margin-left: -10px;margin-top: 0px;">
                	<i class="fas fa-align-left"></i>
                </button>
            </div>
        <div class="card" style="width: 78rem; min-height: 42rem;margin-left: 240px;margin-top: -40px;">
            <h1 style="text-align: center;margin-top: 20px;">Add new task</h1>
            <div style="margin-top: 50px;">
                <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
                    <div class="card tname" style="width: 300px;border-color: white;">
                        <label><b>Intern Name:</b></label>
                        <input type="text" placeholder="Intern's Name" name="username" ngModel required>
                    </div>
                    <div class="card tname" style="width: 300px;border-color: white;">
                        <label><b>Mentor ID:</b></label>
                        <input type="text" placeholder="Enter your ID" name="options" ngModel required>
                    </div>
                    <div class="card tname" style="width: 300px;border-color: white;">
                        <label><b>Task Name:</b></label>
                        <input type="text" placeholder="TITLE" name="taskname" ngModel required>
                    </div>
                    <div class="card tname" style="width: 300px;border-color: white;">
                        <label><b>End Date:</b></label>
                        <input type="text" placeholder="DD/MM/YYYY" name="enddate" ngModel required>
                    </div>
                    <div class="card tname" style="width: 300px;border-color: white;">
                        <label><b>Task Details:</b></label>
                        <textarea style="width: 1100px;min-height: 250px;" name="taskdetails" ngModel required></textarea>
                    </div>
                    <p style="margin-top: 220px;"><button class="tname btn" type="submit" style="width: 150px;padding-top: 10px;">Add</button></p>
                </form> 
            </div>
        </div>
    </div>