<body style="background-color: rgba(0, 0, 0, 0.8)">
    <div id="preloader"></div>
  
    <!--==========================
    Hero Section
    ============================-->
    <section id="hero">
      <div class="hero-container">
        <div class="wow fadeIn">
          <div class="hero-logo" style="font-size: 500px;" style="font-family: sans-serif;">
           <img class ="logo"src="../../../assets/logo.png">
          </div>
          <h1 id="size"> Inception Wave</h1>
          <div class="actions">
            <a routerLink='land' class="btn-get-started">USER</a>
            <a routerLink='adminlanding' class="btn-services">ADMIN</a>
          </div>
        </div>
      </div>
    </section>
  </body>