<body>
  <div class="container-shadow"></div>
  <div class="container" style="height: 830px">
    <div class="wrap" style="margin-top: -70px;">
      <div class="headings">
        <h1 style="text-align: center;color: whitesmoke;">SIGNUP</h1>
      </div>
      <div>
        <form class="form" style="margin-top: -60px;">
          <div class="form-group">
            <label >Registration Number</label>
            <input type="text" name="regno" [(ngModel)]="registerUserData.regno" id="regno" ngModel ng-required="true" required>
          </div>
          <div class="form-group">
            <label >Username</label>
            <input type="text" name="username" [(ngModel)]="registerUserData.username" id="name" ngModel ng-required="true" required>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="registerUserData.password" id="password" ngModel ng-required="true" required>
          </div>
          <div class="form-group">
            <label for="profs">Please Select a mentor:</label>
            <br>
            <select name="profs" id="profs" [(ngModel)]="registerUserData.options" ngModel ng-required="true" required>
              <option style="font-size: 15px;" value="100503" name="options" >100503</option>
              <option style="font-size: 15px;" value="100507" name="options" >100507</option>
              <option style="font-size: 15px;" value="100511" name="options" >100511</option>
              <option style="font-size: 15px;" value="100959" name="options" >100959</option>
              <option style="font-size: 15px;" value="101296" name="options" >101296</option>
            </select>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" id="email" [(ngModel)]="registerUserData.email" ngModel [email]="true" ng-required="true" required>
          </div>
          <button type="button" (click)="registerUser()" [disabled]="!form.valid" class="btnsign">SIGNUP</button>
        </form>
        <label class="nyr">Already Registered Account?</label>
        <button type="button" routerLink="/login" class="log">Login</button>
      </div>
      <br>
    </div><br><br>
  </div>

</body>


